@charset "utf-8";

html,body {
    width: 100%;
    height: 100%;
    font-family: '微软雅黑';
    color: #fff;
}
.com_box,.list_box{
    width:100%;
    height: 12.06rem;     //1206
}
.list_box ul {
    width: 100%;
    height: 100%;
    background: #f3f3f3;
}
.list_box,.list_box ul {
    max-width: 750px;
}
.one_line,.six_line{
    width: 100%;
    height: 10%;
    background: #98999a;
}
.two_line,.seven_line{
    width: 100%;
    height: 10%;
    background: #9d9e9f;
}
.three_line,.eight_line{
    width: 100%;
    height: 10%;
    background: #a9aaab;
}
.four_line,.nine_line{
    width: 100%;
    height: 10%;
    background: #b1b2b2;
}
.five_line,.ten_line{
    width: 100%;
    height: 10%;
    background: #bcbdbd;
}
.list_box ul li{
    background: #f3f3f3;
    position: relative;
}
.list_box ul li .page_bg{
    width: 100%;
    height: 100%;
    background: url("../images/xhdpi/bg.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.list_box ul li .page_bg h3{
    padding: 0.08rem 0.2rem;
    font-size: 0.6rem;
    font-weight: bold;
    background: #11C8F2;
    position: absolute;
    left: 0;
    top: 0.26rem;
    z-index: 99;
}
/*first*/
.list_box ul li .first_bg{
    width: 90%;
    height: 100%;
    background: rgba(17,200,242,0.3);
    padding-top: 2rem;
}
.list_box ul li .first_bg .first_des{
    margin:1rem 0.2rem;
    text-align: right;
}
.list_box ul li .first_bg .first_des span{
    font-size: 0.28rem;
}
.list_box ul li .first_bg .first_des h4{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.list_box ul li .first_bg .first_des p{
    font-size: 0.32rem;
    text-align: center;
    margin-top: 0.4rem;
}
.list_box ul li .first_bg .first_logo{
    width: 2.38rem;
    height: 2.8rem;
    background: url("../images/xhdpi/logo.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
/*second*/
.list_box ul li .second_des{
    margin-top: 0.8rem;
    width: 90%;
    height: 80%;
    padding-top: 0.8rem;
    background: rgba(0,0,0,0.3);
    font-size: 0.36rem;
    font-weight: bold;
    line-height: 0.92rem;
}
/*third*/
.list_box ul li .third_img{
    width: 5.74rem;
    height: 3.78rem;
    background: url("../images/xhdpi/president.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border: 0.2rem solid #11C8F2;
    margin-top: 1.4rem;
}
.list_box ul li .third_des{
    margin-top: 0.6rem;
    background: #11C8F2;
    padding: 0.4rem;
    font-size: 0.28rem;
    line-height: 0.48rem;
}
/*fourth*/
.list_box ul li .fourth_des{
    margin-top: 0.8rem;
    background: rgba(0,0,0,0.3);
    width: 90%;
    height: 80%;
    padding-top: 0.8rem;
    position: relative;
}
.list_box ul li .fourth_des .icon{
    width: 0.76rem;
    height: 0.66rem;
    background: url("../images/xhdpi/xingzhuang.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 0.71rem;
    top: 1rem;
}
.list_box ul li .fourth_des .icon2{
    left: 4.86rem;
    top: 3.34rem;
}
.list_box ul li .fourth_des .icon3{
    top: 5.7rem;
}
.list_box ul li .fourth_des .icon4{
    left: 4.86rem;
    top: 8.06rem;
}
.list_box ul li .fourth_des .line{
    width: 3.5rem;
    height: 1.96rem;
    background: url("../images/xhdpi/xian.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 1.4rem;
    top: 1.52rem;
}
.list_box ul li .fourth_des .line2{
    background-image: url(../images/xhdpi/xian_a.png);
    top: 3.86rem;
}
.list_box ul li .fourth_des .line3{
    top: 6.26rem;
}
.list_box ul li .fourth_des .para{
    font-size: 0.32rem;
    line-height: 0.4rem;
    position: absolute;
    left: 2rem;
    top: 0.92rem;
}
.list_box ul li .fourth_des .para2{
    left: 0.36rem;
    top: 3rem;
}
.list_box ul li .fourth_des .para3{
    left: 2.98rem;
    top: 4.94rem;
    text-align: right;
}
.list_box ul li .fourth_des .para4{
    left: 0.36rem;
    top: 8rem;
}
/*fifth*/
.list_box ul li .fifth_des .des_list{
    width: 100%;
    height: 3.08rem;
    padding: 0.2rem 0;
    background: #11C8F2;
    margin-top: 2.2rem;
}
.list_box ul li .fifth_des .des_list2{
    margin-top: 1.2rem;
}
.list_box ul li .fifth_des .des_list .des_img{
    width: 3.18rem;
    height: 3.08rem;
    background: url("../images/xhdpi/che.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 0.2rem;
}
.list_box ul li .fifth_des .des_list .des_img2{
    background-image: url(../images/xhdpi/you.png);
}
.list_box ul li .fifth_des .des_list .para{
    font-size: 0.28rem;
    line-height: 0.56rem;
    margin: 0.6rem 0.2rem;
}
/*sixth*/
.list_box ul li .sixth_des{
    margin-top: 2.4rem;
    height: 6.52rem;
    position: relative;
}
.list_box ul li .sixth_des .sixth_mod{
    width: 1.92rem;
    height: 1.24rem;
    padding-top: 0.4rem;
    background: url("../images/xhdpi/xingzhuang2.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    font-size: 0.28rem;
    text-align: center;
    position: absolute;
}
.list_box ul li .sixth_des .mod1{
    left: 50%;
    top: 50%;
    margin-left: -0.96rem;
    margin-top: -0.82rem;
}
.list_box ul li .sixth_des .mod2{
    left: 50%;
    top: 0;
    margin-left: -0.96rem;
}
.list_box ul li .sixth_des .mod3{
    left: 0.52rem;
    top: 1.32rem;
}
.list_box ul li .sixth_des .mod4{
    left: 0.52rem;
    bottom: 1.32rem;
}
.list_box ul li .sixth_des .mod5{
    left: 50%;
    bottom: 0;
    margin-left: -0.96rem;
}
.list_box ul li .sixth_des .mod6{
    right: 0.52rem;
    bottom: 1.32rem;
}
.list_box ul li .sixth_des .mod7{
    right: 0.52rem;
    top: 1.32rem;
}
/*seventh*/
.list_box ul li .seventh_img{
    background-image: url(../images/xhdpi/qiyegazhan.png);
}
.list_box ul li .third_des p{
    margin-bottom: 0.24rem;
    line-height: 0.36rem;
}
/*eighth*/
.list_box ul li .eighth_des{
    background: #11C8F2;
    padding: 0.1rem;
    margin-top: 2rem;
}
.list_box ul li .eighth_des .eighth_img{
    width: 4rem;
    height: 4.6rem;
    background: url("../images/xhdpi/yewen.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-right: 0.14rem;
}
.list_box ul li .eighth_des .eighth_img2,.list_box ul li .eighth_des .eighth_img3{
    width: 3.14rem;
    height: 2.26rem;
    background: url("../images/xhdpi/a_yingshi.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.list_box ul li .eighth_des .eighth_img3{
    margin-top: 0.06rem;
    background-image: url(../images/xhdpi/b_yingshi.png);
}
.list_box ul li .eighth_des .eighth_img4{
    width: 7.28rem;
    height: 4rem;
    background: url("../images/xhdpi/lingyuzhanshi.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 0.2rem;
}
/*ninth*/
.list_box ul li .eighth_des p{
    padding: 1rem 0.4rem;
    font-size: 0.36rem;
    line-height: 0.48rem;
    text-align: center;
}
.list_box ul li .ninth_img{
    width: 7.28rem;
    height: 4.02rem;
    background: url("../images/xhdpi/pinpai.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
/*tenth*/
.list_box ul li .tenth_bg{
    width: 90%;
    height: 100%;
    background: rgba(17,200,242,0.3);
    padding-top: 3rem;
}
.list_box ul li .tenth_bg .logo_bg{
    width: 2.38rem;
    height: 2.8rem;
    background: #fff;
    border: 1px solid #000;
}
.list_box ul li .tenth_bg .logo_bg .tenth_logo{
    width: 2.38rem;
    height: 2.8rem;
    background: url("../images/xhdpi/logo.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.list_box ul li .tenth_bg .tenth_des{
    font-size: 0.28rem;
    line-height: 0.58rem;
    font-weight: bold;
    margin: 1.2rem;
}








/*screen*/
/*xxxhdpi*/
@media screen and (-webkit-max-device-pixel-ratio: 4){
    .list_box ul li .page_bg{
        background-image: url(../images/xxxhdpi/bg.png);
    }
    .list_box ul li .first_bg .first_logo{
        background-image: url(../images/xxxhdpi/logo.png);
    }
    .list_box ul li .third_img{
        background-image: url(../images/xxxhdpi/president.png);
    }
    .list_box ul li .fourth_des .icon{
        background-image: url(../images/xxxhdpi/xingzhuang.png);
    }
    .list_box ul li .fourth_des .line{
        background-image: url(../images/xxxhdpi/xian.png);
    }
    .list_box ul li .fourth_des .line2{
        background-image: url(../images/xxxhdpi/xian_a.png);
    }
    .list_box ul li .fifth_des .des_list .des_img{
        background-image: url(../images/xxxhdpi/che.png);
    }
    .list_box ul li .fifth_des .des_list .des_img2{
        background-image: url(../images/xxxhdpi/you.png);
    }
    .list_box ul li .seventh_img{
        background-image: url(../images/xxxhdpi/qiyegazhan.png);
    }
    .list_box ul li .eighth_des .eighth_img{
        background-image: url(../images/xxxhdpi/yewen.png);
    }
    .list_box ul li .eighth_des .eighth_img2{
        background-image: url(../images/xxxhdpi/a_yingshi.png);
    }
    .list_box ul li .eighth_des .eighth_img3{
        background-image: url(../images/xxxhdpi/b_yingshi.png);
    }
    .list_box ul li .eighth_des .eighth_img4{
        background-image: url(../images/xxxhdpi/lingyuzhanshi.png);
    }
    .list_box ul li .ninth_img {
        background-image: url(../images/xxxhdpi/pinpai.png);
    }
    .list_box ul li .tenth_bg .logo_bg .tenth_logo {
        background-image: url(../images/xxxhdpi/logo.png);
    }
}
/*xxhdpi*/
@media screen and (-webkit-max-device-pixel-ratio: 3){
    .list_box ul li .page_bg{
        background-image: url(../images/xxhdpi/bg.png);
    }
    .list_box ul li .first_bg .first_logo{
        background-image: url(../images/xxhdpi/logo.png);
    }
    .list_box ul li .third_img{
        background-image: url(../images/xxhdpi/president.png);
    }
    .list_box ul li .fourth_des .icon{
        background-image: url(../images/xxhdpi/xingzhuang.png);
    }
    .list_box ul li .fourth_des .line{
        background-image: url(../images/xxhdpi/xian.png);
    }
    .list_box ul li .fourth_des .line2{
        background-image: url(../images/xxhdpi/xian_a.png);
    }
    .list_box ul li .fifth_des .des_list .des_img{
        background-image: url(../images/xxhdpi/che.png);
    }
    .list_box ul li .fifth_des .des_list .des_img2{
        background-image: url(../images/xxhdpi/you.png);
    }
    .list_box ul li .seventh_img{
        background-image: url(../images/xxhdpi/qiyegazhan.png);
    }
    .list_box ul li .eighth_des .eighth_img{
        background-image: url(../images/xxhdpi/yewen.png);
    }
    .list_box ul li .eighth_des .eighth_img2{
        background-image: url(../images/xxhdpi/a_yingshi.png);
    }
    .list_box ul li .eighth_des .eighth_img3{
        background-image: url(../images/xxhdpi/b_yingshi.png);
    }
    .list_box ul li .eighth_des .eighth_img4{
        background-image: url(../images/xxhdpi/lingyuzhanshi.png);
    }
    .list_box ul li .ninth_img {
        background-image: url(../images/xxhdpi/pinpai.png);
    }
    .list_box ul li .tenth_bg .logo_bg .tenth_logo {
        background-image: url(../images/xxhdpi/logo.png);
    }
}
/*xhdpi*/
@media screen and (-webkit-max-device-pixel-ratio: 2){
    .list_box ul li .page_bg{
        background-image: url(../images/xhdpi/bg.png);
    }
    .list_box ul li .first_bg .first_logo{
        background-image: url(../images/xhdpi/logo.png);
    }
    .list_box ul li .third_img{
        background-image: url(../images/xhdpi/president.png);
    }
    .list_box ul li .fourth_des .icon{
        background-image: url(../images/xhdpi/xingzhuang.png);
    }
    .list_box ul li .fourth_des .line{
        background-image: url(../images/xhdpi/xian.png);
    }
    .list_box ul li .fourth_des .line2{
        background-image: url(../images/xhdpi/xian_a.png);
    }
    .list_box ul li .fifth_des .des_list .des_img{
        background-image: url(../images/xhdpi/che.png);
    }
    .list_box ul li .fifth_des .des_list .des_img2{
        background-image: url(../images/xhdpi/you.png);
    }
    .list_box ul li .seventh_img{
        background-image: url(../images/xhdpi/qiyegazhan.png);
    }
    .list_box ul li .eighth_des .eighth_img{
        background-image: url(../images/xhdpi/yewen.png);
    }
    .list_box ul li .eighth_des .eighth_img2{
        background-image: url(../images/xhdpi/a_yingshi.png);
    }
    .list_box ul li .eighth_des .eighth_img3{
        background-image: url(../images/xhdpi/b_yingshi.png);
    }
    .list_box ul li .eighth_des .eighth_img4{
        background-image: url(../images/xhdpi/lingyuzhanshi.png);
    }
    .list_box ul li .ninth_img {
        background-image: url(../images/xhdpi/pinpai.png);
    }
    .list_box ul li .tenth_bg .logo_bg .tenth_logo {
        background-image: url(../images/xhdpi/logo.png);
    }
}
/*hdpi*/
@media screen and (-webkit-max-device-pixel-ratio: 1.5){
    .list_box ul li .page_bg{
        background-image: url(../images/hdpi/bg.png);
    }
    .list_box ul li .first_bg .first_logo{
        background-image: url(../images/hdpi/logo.png);
    }
    .list_box ul li .third_img{
        background-image: url(../images/hdpi/president.png);
    }
    .list_box ul li .fourth_des .icon{
        background-image: url(../images/hdpi/xingzhuang.png);
    }
    .list_box ul li .fourth_des .line{
        background-image: url(../images/hdpi/xian.png);
    }
    .list_box ul li .fourth_des .line2{
        background-image: url(../images/hdpi/xian_a.png);
    }
    .list_box ul li .fifth_des .des_list .des_img{
        background-image: url(../images/hdpi/che.png);
    }
    .list_box ul li .fifth_des .des_list .des_img2{
        background-image: url(../images/hdpi/you.png);
    }
    .list_box ul li .seventh_img{
        background-image: url(../images/hdpi/qiyegazhan.png);
    }
    .list_box ul li .eighth_des .eighth_img{
        background-image: url(../images/hdpi/yewen.png);
    }
    .list_box ul li .eighth_des .eighth_img2{
        background-image: url(../images/hdpi/a_yingshi.png);
    }
    .list_box ul li .eighth_des .eighth_img3{
        background-image: url(../images/hdpi/b_yingshi.png);
    }
    .list_box ul li .eighth_des .eighth_img4{
        background-image: url(../images/hdpi/lingyuzhanshi.png);
    }
    .list_box ul li .ninth_img {
        background-image: url(../images/hdpi/pinpai.png);
    }
    .list_box ul li .tenth_bg .logo_bg .tenth_logo {
        background-image: url(../images/hdpi/logo.png);
    }
}
/*mdpi*/
@media screen and (-webkit-max-device-pixel-ratio: 1){
    .list_box ul li .page_bg{
        background-image: url(../images/mdpi/bg.png);
    }
    .list_box ul li .first_bg .first_logo{
        background-image: url(../images/mdpi/logo.png);
    }
    .list_box ul li .third_img{
        background-image: url(../images/mdpi/president.png);
    }
    .list_box ul li .fourth_des .icon{
        background-image: url(../images/mdpi/xingzhuang.png);
    }
    .list_box ul li .fourth_des .line{
        background-image: url(../images/mdpi/xian.png);
    }
    .list_box ul li .fourth_des .line2{
        background-image: url(../images/mdpi/xian_a.png);
    }
    .list_box ul li .fifth_des .des_list .des_img{
        background-image: url(../images/mdpi/che.png);
    }
    .list_box ul li .fifth_des .des_list .des_img2{
        background-image: url(../images/mdpi/you.png);
    }
    .list_box ul li .seventh_img{
        background-image: url(../images/mdpi/qiyegazhan.png);
    }
    .list_box ul li .eighth_des .eighth_img{
        background-image: url(../images/mdpi/yewen.png);
    }
    .list_box ul li .eighth_des .eighth_img2{
        background-image: url(../images/mdpi/a_yingshi.png);
    }
    .list_box ul li .eighth_des .eighth_img3{
        background-image: url(../images/mdpi/b_yingshi.png);
    }
    .list_box ul li .eighth_des .eighth_img4{
        background-image: url(../images/mdpi/lingyuzhanshi.png);
    }
    .list_box ul li .ninth_img {
        background-image: url(../images/mdpi/pinpai.png);
    }
    .list_box ul li .tenth_bg .logo_bg .tenth_logo {
        background-image: url(../images/mdpi/logo.png);
    }
}